{% include 'base.html' %}

{% block main %}

<style>
#gbox {
  width: 360px;
  height: 360px;
  /* position: relative; */
}
.tile {
  background: white;
  width: 100px;
  height: 100px;
  border: 1px solid saddlebrown;
  margin: 10px;
}
</style>

<div class="container mt-5">
  <div class="border m-auto bg-dark" id="gbox">
    <div class="d-flex">
      <div class="tile" i="0" j="0"></div>
      <div class="tile" i="0" j="1"></div>
      <div class="tile" i="0" j="2"></div>
    </div>
    <div class="d-flex">
      <div class="tile" i="1" j="0"></div>
      <div class="tile" i="1" j="1"></div>
      <div class="tile" i="1" j="2"></div>
    </div>
    <div class="d-flex">
      <div class="tile" i="2" j="0"></div>
      <div class="tile" i="2" j="1"></div>
      <div class="tile" i="2" j="2"></div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <button class="btn btn-success" onclick="start_game()">Start</button>
  </div>
</div>
<script>
  var turn = 0;
  var winner = -1;
  var matrix = [[-1,-1,-1],[-1,-1,-1],[-1,-1,-1]];

  var tile = $('.tile').click(function () {
    let i = $(this).attr('i');
    let j = $(this).attr('j');
    console.log(i)
    console.log(j)
    if (turn % 2 == 0) {
      $(this).css('background', 'red');
      if (matrix[i][j] != -1) {
        matrix[i][j] = 1;
      }
      turn++;
    }
    else {
      $(this).css('background', 'yellow');
      if (matrix[i][j] != -1) {
        matrix[i][j] = 2;
      }
      turn++;
    }
    if (turn == 9) {
      alert('DRAW');
    }
    check_winner();
  });

  function check_winner() {
    // console.log('check')
    // if ((matrix[0][0] == matrix[0][1]) & matrix[0][0] != -1) {
    //   console.log('res')
    // }
    for (var i = 0; i < 3; i++) {
      for (j = 0; j < 3; j++) {
        console.log(matrix[i][j]);
      }
    }
  }

</script>
{% endblock %}